.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #111;
}
.nav > li > a {
	color: #ccc;
}
.nav > li > a:hover, .nav > li > a:focus {
	color: #444;
}
.year-picker {
	margin-top: 80px;
}
li.year-labels {
	font-size: 20px;
	text-align: center;
}
.center-pills {
    display: flex;
    justify-content: center;
}
.results-iframes {
	text-align: center;
}
