.acme-navbar-text {
  color: white;
}
.navbar {
	background-color: inherit;
	margin: 0;
}
.logo {
	height: 80px;
	padding:10px;
}
.navbar-static-top {
	border: 0;
}
.navbar-nav {
	padding-top:15px;
}
.navbar-toggle {
	margin: 24px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #777;
}
.navbar-inverse .navbar-nav > li > a {
	color: #777;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: black;
}