.acme-navbar-text {
  color: rgb(237,237,91);
}

.navbar {
	background: transparent;
}
@media {
	.navbar-collapse.ng-scope {
		background-color: #444;
	}
}
@media (min-width: 768px) {
    .navbar-collapse.ng-scope {
		background: transparent;
    }
	.navbar-fixed-top.scrolled {
		background-color: #444 !important;
		transition: background-color 400ms linear;
	}
}
.logo {
	height: 80px;
	padding:10px;
}
.navbar-fixed-top {
	border: 0;
}
.navbar-nav {
	padding-top:15px;
}
.navbar-toggle {
	margin: 24px;
}
.navbar-inverse .navbar-nav > li > a {
	color: rgb(237,237,91);
}