<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar" ng-controller="TabController as tab">
      <ul class="nav navbar-nav">
        <li ng-class="{ active:tab.isSet(1) }"><a ng-href="#" ng-click="tab.setTab(1)">Home</a></li>
        <li ng-class="{ active:tab.isSet(2) }"><a ng-href="#/location" ng-click="tab.setTab(2)">Location</a></li>
        <li ng-class="{ active:tab.isSet(3) }"><a ng-href="#/course" ng-click="tab.setTab(3)">Course</a></li>
        <li ng-class="{ active:tab.isSet(4) }"><a ng-href="#/results" ng-click="tab.setTab(4)">Results</a></li>
        <li ng-class="{ active:tab.isSet(5) }"><a ng-href="#/fastest50" ng-click="tab.setTab(5)">Fastest 50</a></li>
        <li ng-class="{ active:tab.isSet(6) }"><a ng-href="https://register.primoevents.com/ps/event/10thLough5" ng-click="tab.setTab(6)">Enter</a></li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
 $(function(){ 
     var navMain = $("#main-navbar");
     navMain.on("click", "a", null, function () {
         navMain.collapse('hide');
     });
 });
 $(function () {
  $(document).scroll(function () {
    var $nav = $(".navbar-fixed-top");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height()/2);
  });
});
</script>