<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img class="logo" alt="Lough5Logo" src="assets/images/logo_wt.png">
    </div>

    <div class="collapse navbar-collapse" id="main-navbar" ng-controller="TabController as tab">
      <ul class="nav navbar-nav">
        <li ng-class="{ active:tab.isSet(1) }"><a ng-href="#" ng-click="tab.setTab(1)">Home</a></li>
        <li ng-class="{ active:tab.isSet(2) }""><a ng-href="#/location" ng-click="tab.setTab(2)">Location</a></li>
        <li ng-class="{ active:tab.isSet(3) }"><a ng-href="#/course" ng-click="tab.setTab(3)">Course</a></li>
        <li ng-class="{ active:tab.isSet(4) }"><a ng-href="#/results" ng-click="tab.setTab(4)">Results</a></li>
      </ul>
    </div>
  </div>
</nav>

<script type="text/javascript">
 $(function(){ 
     var navMain = $("#main-navbar");
     navMain.on("click", "a", null, function () {
         navMain.collapse('hide');
     });
 });
</script>