.container {	
  padding-left: 0;
  padding-right: 0;
}
ul {
	list-style-type: none;
	padding: 0 20px 0 20px;
}
li {
	font-size: 24px;
	font-weight: 600;
}
h1 {
	font-size: 40px;
}
h1, h2, li {
	text-align: center;
	color: rgb(237,237,91);
	text-shadow: black 0 0 5px;
}
h2 {
	text-decoration: underline;
}
h4 {
	color: black;
	text-shadow: rgb(254, 255, 212) 0 0 5px;
	text-align: center;
}
h1.main-header {
	font-size: 40px;
}
#main-header-panel {
	margin-top: 80px;
}
.info-text-l {
	font-style: italic;
	font-size: 30px;
}
.info-text-m {
	font-style: italic;
	font-size: 24px;
}
.img-container {
	max-height: 180px;
}
.social-media {
	text-align: center;
}