.container {
  padding-left: 0;
  padding-right: 0;
}
.panel {
  background-color: inherit;
}
.list-items {
	font-size: 22px;
	font-weight: 700;
}
.main-header {
	font-weight: 700;
	font-style: italic;
	text-align: center;
	font-size: 40px;
}
.info-text-l {
	font-style: italic;
	font-size: 30px;
}
.info-text-m {
	font-style: italic;
	font-size: 24px;
}
.img-container {
	max-height: 180px;
}